html, body {
  background-color: #010101;
  -webkit-text-fill-color: #f7f7f7;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", sans-serif;
} 


.float-left {
  width: 20vw;
  float: left;
  padding: 10px;
}

.values {
  border-radius: 6px;
  background-color: #834cab;
}

.float-right {
  float: left;
  padding: 10px;
}

.box {
  background-color: #010101;
  border-radius: 0px 0px 10px 0px;
  border-bottom: solid #834cab 3px;
  border-right: solid #834cab 3px;
  padding: 5px;
}

.tableau {
  background-color: #444444;
}

.texte {
  -webkit-text-fill-color: #01d449;
  position: relative;
  top: 8px;
  padding: 10px;
}

.nbrMinion {
  -webkit-text-fill-color: #010101;
  margin: 5px;
  width: 50px;
}

.buttons {
  display: flex;
}

.inputs {
  display: grid;
  padding: 5px;
  margin: 10px;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  padding: -10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b0b0b0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #f7f7f7;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #01d449;
}

input:focus + .slider {
  box-shadow: 0 0 1px #01d449;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}